codebase='PPEn08'
ensname='CTL2010'
runtype='AD'
chunk="chunk01"

if [[ $runtype == "SASU" ]];then
    prevtype="AD"
elif [[ $runtype == "postSASU" ]];then
    prevtype="SASU"
elif [[ $runtype == "PROD" ]];then
    prevtype="postSASU"
fi

#need to identify where the script can expect certain files
PPE_DIR="/glade/u/home/djk2120/clm5ppe/jobscripts/"
SCRIPTS_DIR="/glade/work/djk2120/PPEn08/cime/scripts/"
SCRATCH="/glade/scratch/djk2120/"
RESTARTS=$SCRATCH$codebase"/restarts/"

#prefix to identify these cases
caseDir=$ensname"/"
casePrefix=$codebase"_"$ensname"_"$runtype

#the case that will be cloned to create the ensemble
basecase=$ensname"/basecases/"$codebase"_"$ensname"_"$runtype

#list of parameter sets to test
paramList=$PPE_DIR$codebase"/"$chunk".txt"

#number of instances per case
# this can be used to optimize computational costs
ninst=7

#options for specifying unique restart files for each paramset
if [[ $runtype == "AD" ]];then 
    finidatFlag=false
else
    finidatFlag=true
    finidatSuff="_"$prevtype"restart.nc"
    prevCase=$codebase"_"$ensname"_"$prevtype
fi

#options for specify unique namelist_mods for each paramset
#   e.g. if you are varying baseflow_scalar
nlmodsFlag=true
nlbase=$PPE_DIR$codebase"/nlbase/"$ensname"/"$ensname"_"$runtype".base"
NLMODS_DIR=$SCRATCH$codebase"/namelist_mods/"
PARAMS_DIR=$SCRATCH$codebase"/paramfiles/"

#options for specifying a previous build
#   note that this exeroot much use the same ninst
exerootFlag=false
exeroot="na"

#specify how to name the history files
TAPE='h0'
histDir=$SCRATCH$codebase"/hist"$runtype"/"
histBase=$codebase"_"$ensname"_"
histSuffix="_"$runtype".clm2."

