#need to identify where the script can expect certain files
ensemble="CTL2010"
codebase="PPEn11"
PPE="/glade/u/home/djk2120/ppe_clean/jobscripts/"
SCRIPTS="/glade/work/djk2120/PPEn11/cime/scripts/"
SCRATCH="/glade/scratch/djk2120/"
PROJECT="P93300041"

#the list of paramfiles
paramList="PPEn11/ctlqc3.txt"

#where to find the parameter files
PARAMS=$SCRATCH$codebase"/paramfiles/"

#options to specify unique namelist_mods for each paramset
# e.g. if you are varying baseflow_scalar
nlmodsFlag=true
NLMODS=$SCRATCH$codebase"/namelist_mods/"

#tethering information
tetherFlag=true
tether=/glade/u/home/djk2120/tether/tether.sh
template=/glade/u/home/djk2120/tether/cheyenne.template
CDIR=$SCRIPTS$ensemble"/basecases/"

cases=($CDIR$codebase"_"$ensemble"_AD" \
       $CDIR$codebase"_"$ensemble"_SASU" \
       $CDIR$codebase"_"$ensemble"_postSASU" \
       $CDIR$codebase"_"$ensemble)
segments=($CDIR$codebase"_"$ensemble"_AD" \
          $CDIR$codebase"_"$ensemble"_SASU" \
          $CDIR$codebase"_"$ensemble"_postSASU" \
          $CDIR$codebase"_"$ensemble)
casemods=("none" \
          $PPE"finidat.sh" \
	  $PPE"finidat.sh" \
	  $PPE"finidat.sh")

#where you want the newcases to go
CASEDIR=$SCRIPTS$ensemble"/"

#unique restarts for first stage?
finidatFlag=false



