#CONFIG file for: AF1855_test

#need to identify where the script can expect certain files
PPE_DIR="/glade/u/home/djk2120/clm5ppe/jobscripts/"
SCRIPTS_DIR="/glade/work/djk2120/PPEn11/cime/scripts/"
SCRATCH="/glade/scratch/djk2120/"
RESTARTS="PPEn11/restarts/"

#prefix to identify these cases
casePrefix="PPEn11_AF1855"
caseDir="AF1855/PPEn11_AF1855/"

#the case that will be cloned to create the ensemble
basecase="AF1855/basecases/PPEn11_AF1855"

#the list of paramfiles
paramList="PPEn11/test.txt"

#options for specifying unique restart files for each paramset
finidatFlag=true
prevCase="PPEn11_AF1855_postSASU"
