#need to identify where the script can expect certain files
ensemble="C285"
codebase="PPEn11"
PPE="/glade/u/home/djk2120/clm5ppe/jobscripts/"
SCRIPTS="/glade/work/djk2120/"$codebase"/cime/scripts/"
SCRATCH="/glade/scratch/djk2120/"
REST=$SCRATCH$codebase"/"$ensemble"/rest/"
HIST=$SCRATCH$codebase"/"$ensemble"/hist/"
SPIN=$SCRATCH$codebase"/"$ensemble"/spin/"


#the list of paramfiles
paramList=$codebase"/phen.txt"

#where to find the parameter files
PARAMS=$SCRATCH$codebase"/paramfiles/"

#options to specify unique namelist_mods for each paramset
# e.g. if you are varying baseflow_scalar
nlmodsFlag=true
NLMODS=$SCRATCH$codebase"/namelist_mods/"

#presubmission template
template=$PPE"cheyenne.template"

#specify the cases
cases=($codebase"_"$ensemble"_AD" \
       $codebase"_"$ensemble"_SASU" \
       $codebase"_"$ensemble"_postSASU" \
       $codebase"_"$ensemble)

#specify exeroots
exeroots=()
for c in ${cases[@]}; do
    exeroots+=($SCRATCH$c"/bld/")
done

