#CONFIG file for: CTL2010_SASU_claypf

#need to identify where the script can expect certain files
PPE_DIR="/glade/u/home/djk2120/clm5ppe/jobscripts/"
SCRIPTS_DIR="/glade/work/djk2120/PPEn11/cime/scripts/"
SCRATCH="/glade/scratch/djk2120/"
RESTARTS="/glade/scratch/djk2120/PPEn11/restarts/"
HIST_DIR="/glade/scratch/djk2120/PPEn11/hist_SASU/CTL2010/"

#prefix to identify these cases
casePrefix="PPEn11_CTL2010_SASU"
caseDir="CTL2010/PPEn11_CTL2010_SASU/"

#the case that will be cloned to create the ensemble
basecase="CTL2010/basecases/PPEn11_CTL2010_SASU"

#the list of paramfiles
paramList="PPEn11/claypf.txt"

#options for specifying unique restart files for each paramset
finidatFlag=true
prevCase="PPEn11_CTL2010_AD"

#where to find the parameter files
PARAMS_DIR="/glade/scratch/djk2120/PPEn11/paramfiles/"

#options for specify unique namelist_mods for each paramset
# e.g. if you are varying baseflow_scalar
nlmodsFlag=true
nlbase="/glade/u/home/djk2120/clm5ppe/jobscripts/PPEn11/nlbase/CTL2010/CTL2010_SASU.base"
NLMODS_DIR="/glade/scratch/djk2120/PPEn11/namelist_mods/"

#options for specifying a previous build
# note that this exeroot much use the same ninst
exerootFlag=true
exeroot="/glade/scratch/djk2120/PPEn11_CTL2010_SASU/bld"
