#need to identify where the script can expect certain files
PPE="/glade/u/home/djk2120/clm5ppe/jobscripts/"
SCRIPTS="/glade/work/djk2120/PPEn11/cime/scripts/"
SCRATCH="/glade/scratch/djk2120/"
RESTARTS="/glade/scratch/djk2120/PPEn11/restarts/"
HIST_DIR="/glade/scratch/djk2120/PPEn11/hist/CTL2010/"

#the list of paramfiles
paramList="PPEn11/rpb2.txt"

#where to find the parameter files
PARAMS="/glade/scratch/djk2120/PPEn11/paramfiles/"

#options to specify unique namelist_mods for each paramset
# e.g. if you are varying baseflow_scalar
nlmodsFlag=false
NLMODS="/glade/scratch/djk2120/PPEn11/namelist_mods/"

#presubmission template
template="/glade/u/home/djk2120/clm5ppe/jobscripts/presubmission.template"

#specify the cases
codebase="PPEn11"
ensemble="CTL2010"
cases=($codebase"_"$ensemble"_AD" \
       $codebase"_"$ensemble"_SASU" \
       $codebase"_"$ensemble"_postSASU" \
       $codebase"_"$ensemble)
