#need to identify where the script can expect certain files
ensemble="transient"
codebase="PPEn11"
PPE="/glade/u/home/linnia/clm5ppe/jobscripts/"
SCRIPTS="/glade/work/linnia/PPEn11trans/cime/scripts/"
SCRATCH="/glade/scratch/linnia/"
CAMPAIGN="/glade/campaign/asp/djk2120/"
REST=$CAMPAIGN$codebase"/"$ensemble"/rest/"
HIST=$CAMPAIGN$codebase"/"$ensemble"/hist/"

PROJECT="P93300041"

#the list of paramfiles
paramList="EmBE/EmBE_01.txt"

#where to find the parameter files
PARAMS="/glade/work/linnia/CLM-PPE-LAI_tests/exp1_EmBE/paramfiles/"

#options to specify unique namelist_mods for each paramset
# e.g. if you are varying baseflow_scalar
nlmodsFlag=true
NLMODS="/glade/work/linnia/CLM-PPE-LAI_tests/exp1_EmBE/namelist_mods/"

#tethering information
tether=/glade/u/home/djk2120/tether/tether.sh
template="/glade/u/home/djk2120/tether/cheyenne.template"

#specify the cases
cases=($codebase"_"$ensemble"_AD" \
       $codebase"_"$ensemble"_SASU" \
       $codebase"_"$ensemble"_postSASU" \
       $codebase"_"$ensemble \
       $codebase"_"$ensemble \
       $codebase"_"$ensemble \
       $codebase"_"$ensemble)

#specify the stages
stages=($codebase"_"$ensemble"_AD" \
        $codebase"_"$ensemble"_SASU" \
        $codebase"_"$ensemble"_postSASU" \
        $codebase"_"$ensemble)        

#specify casemods
casemods=("none" \
          $PPE"/finidat.sh" \
	  $PPE"/finidat.sh" \
	  $PPE"/finidat.sh" \
	  $PPE"EmBE/mods/part1.sh" \
	  $PPE"EmBE/mods/part2.sh" \
	  $PPE"EmBE/mods/part3.sh")

#specify exeroots
exeroots=()
for c in ${cases[@]}; do
    exeroots+=($SCRATCH$c"/bld")
done

