#need to identify where the script can expect certain files
ensemble="transient"
codebase="PPEn11"
PPE="/glade/u/home/djk2120/ppe_clean/jobscripts/"
SCRIPTS="/glade/work/djk2120/PPEn11trans/cime/scripts/"
SCRATCH="/glade/scratch/djk2120/"
PROJECT="P08010000"

#the list of paramfiles
paramList="ssp370/ssp370.txt"

#where to find the parameter files
PARAMS=$SCRATCH$codebase"/paramfiles/"

#options to specify unique namelist_mods for each paramset
# e.g. if you are varying baseflow_scalar
nlmodsFlag=true
NLMODS=$SCRATCH$codebase"/namelist_mods/"

#tethering information
tetherFlag=false
basecase="PPEn11_transient_SSP370"

